<form method="get" action="#">

    <h4>Advanced Scoring Tool</h4>
    <p class="text-secondary">This feature allows you to see more relevant Candidates easier. Just choose how to treat different aspects of their profiles or how the profiles match the Job description by specifying weights for each parameter. The more points Candidate gets the higher they will float atop</p>

    

    <!-- <table class="table table-hover table-striped" style="width: 100%">
    <colgroup>
    <col span="1" style="width: min-content">
    <col span="1" style="width: 1em">
    <col span="1" style="width: max-content">
    <col span="1" style="width: 1em">
    </colgroup>

    <thead><tr>
    <th>Weight</th>
    <th></th>
    <th>Param</th>
    <th></th>
    </tr></thead>

    <tbody>
    <tr>
    <td>
    <input name="adv-tool-weight" type="number" value="1">
    </td>

    <td>
    X
    </td>

    <td>
    <select name="adv-tool-param"
    class="form-select form-select-sm"
    style="width: max-content">

    <option value="salary">Salary</option>
    <option value="experience">Years of Experience</option>
    </select>
    </td>

    <td>
    <button type="button" class="btn btn-sm btn-outline-danger"
    style="float: right"
    title="Delete the Scoring component">
    X
    </button>
    </td>
    </tr>

    <tr><td colspan="100%">
    <button class="btn btn-sm btn-outline-success" style="width: 100%">
    Add More
    </button>
    </td></tr>
    </tbody>
    </table> -->

    <div class style="width: 100%">
        <label for="auto-apply-checkbox">Auto-Apply</label>
        <input name="auto-apply-checkbox" type="checkbox"
            class="btn btn-sm btn-primary" checked>

        <button type="submit" class="btn btn-sm btn-primary">Apply</button>
    </div>
</form>
