{% extends "base.html" %}

{% block content %}
	<div class="container pt-3">
		<h1 class="mb-3">Inbox</h1>

        <div class="mb-3">
            <div class="dropdown" style="float: left">
                <button class="btn btn-sm btn-secondary dropdown-toggle"
                    type="button" id="filter-by-job" data-bs-toggle="dropdown"
                    aria-expanded="false">

                    Show Only Jobs: {{ current_job or 'All' }}
                </button>
                <ul class="dropdown-menu"
                    hx-get="{{ url('sb:inbox') }}"
                    style="height: 20rem; overflow: auto"
                    aria-labelledby="filter-by-job">
                    {% for j in jobs %}
                        <li><button class="dropdown-item" type="submit">
                            {{ '#%s: %s' % (j.id, j.position) }}
                        </button></li>
                    {% endfor %}
                </ul>
            </div>

            <input type="search" placeholder="Search in Messages (NIY)"
                style="margin-left: 10px">

            <button class="btn btn-sm btn-outline-secondary" style="float: right">
                Open Advanced Scoring Tool
            </button>

            <script>
            el = document.currentScript.previousElementSibling;
            $(el).on('click', function (ev) {
                el.classList.toggle('active');
                $('#adv-scoring-tool').toggle('hidden');
            });
            </script>

            <!-- <div class="dropdown" style="float: right">
            <button class="btn btn-sm btn-secondary dropdown-toggle"
            type="button" id="sort-choice" data-bs-toggle="dropdown"
            aria-expanded="false">

            Sorting: {{ current_sorting }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Most Recent Answer</a></li>
            <li><a class="dropdown-item" href="#">Salary Low-High</a></li>
            <li><a class="dropdown-item" href="#">Salary High-Low</a></li>
            <li><a class="dropdown-item" href="#">Experience Low-High</a></li>
            <li><a class="dropdown-item" href="#">Experience High-Low</a></li>
            <li><a class="dropdown-item" href="#">Advanced Sorting</a></li>
            </ul>
            </div> -->
        </div>

        <div class="mb-3" style="display: block" id="adv-scoring-tool">
            {% include 'inbox/mixin/advanced-scoring-tool.jinja' %}
        </div>

        <div id="chat-list">
            {% include 'inbox/mixin/chat-list.jinja' %}
        </div>

        <span id="spinner" class="htmx-indicator">
            <img src="{{ static('img/spinner-mod.gif') }}"
                style="height: 2em" />
        </span>
	</div>
{% endblock content %}
