{% extends "base.html" %}

{% block content %}
	<div class="container pt-3">
		<h1 class="mb-3">Inbox</h1>

		{% for thread in threads %}
			{% set last_message = thread.last_message %}
			{% set candidate = thread.candidate %}
            {% set score_dict = thread.score_description %}

			<div id="thread-{{ thread.id }}" class="card mb-4">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-3">
							<div class="row">
								<div class="col-auto">
								{% if thread.is_anonymous or not thread.candidate.picture_url %}
										<img class="rounded-circle" width="30px" height="30px" style="object-fit: cover" src="https://p.djinni.co/static/i/default-userpic@2x.png" alt="">
								{% else %}
										<img class="rounded-circle" width="30px" height="30px" style="object-fit: cover" src="{{ thread.candidate.picture_url }}" alt="">
								{% endif %}
								</div>
								<div class="col">
									<small>
										{% if thread.is_anonymous %}
											<div>{{ candidate.position }}</div>
										{% else %}
											<div>{{ candidate.name }} {{thread.score}}</div>
										{% endif %}
										<div class="text-secondary">
											<div>
                                                <span class="badge {% if score_dict.salary_score > 0.8 %}bg-success{% elif score_dict.salary_score > 0.5 %}bg-warning text-dark{% else %}bg-danger{% endif %}"> ${{candidate.salary_min}} </span>
                                                <span class="badge {% if score_dict.experience_score > 0.9 %}bg-success{% elif score_dict.experience_score > 0.8 %}bg-warning text-dark{% else %}bg-danger{% endif %}"> {{ candidate.experience_years }} years of experience </span>
											</div>
											<div>
                                                <span class="badge {% if score_dict.english_score > 0.8 %}bg-success{% elif score_dict.english_score > 0.5 %}bg-warning text-dark{% else %}bg-danger{% endif %}"> {{candidate.english_level}} </span>
                                                <span class="badge {% if score_dict.location_score > 0.5 %}bg-success{% elif score_dict.location_score > 0.1 %}bg-warning text-dark{% else %}bg-danger{% endif %}">{{candidate.country_code}} {% if candidate.location %}, {{ candidate.location }}{% endif %}</span>
											</div>
                                            <div>
                                                {% if score_dict.primary_keyword_score %}
                                                <span class="badge {% if score_dict.primary_keyword_score > 0.8 %}bg-success{% elif score_dict.primary_keyword_score >= 0.5 %}bg-warning text-dark{% else %}bg-danger{% endif %}"> {{candidate.primary_keyword}} </span>
                                                {% endif %}
                                                {% if score_dict.secondary_keyword_score %}
                                                <span class="badge {% if score_dict.secondary_keyword_score > 0.8 %}bg-success{% elif score_dict.secondary_keyword_score >= 0.5 %}bg-warning text-dark{% else %}bg-danger{% endif %}"> {{candidate.secondary_keyword}} </span>
                                                {% endif %}
                                                {% if score_dict.skills_score and score_dict.skills_score >= 0.4%}
                                                <span class="badge {% if score_dict.skills_score > 0.8 %}bg-success{% elif score_dict.english_score >= 0.4 %}bg-warning text-dark{% endif %}"> Skills </span>
                                                {% endif %}
                                                {% if score_dict.domain_zone_score is not none %}
                                                <span class="badge {% if score_dict.domain_zone_score > 0.5 %}bg-success{% elif score_dict.domain_zone_score >= 0.0 %}bg-warning text-dark{% endif %}"> Domain </span>
                                                {% endif %}
                                            </div>
										</div>
									</small>
								</div>
							</div>
						</div>
						<div class="col-sm">
							<header><strong>{{ thread.job.position }}</strong></header>
							<div>
								{% if last_message.action in ['apply', 'accept'] %}
									<div>Candidate opened contacts</div>
								{% endif %}
								{% if last_message.body %}
									{{ last_message.body|truncate(100) }}
								{% endif %}
								
							</div>
							<a href="{{ url('inbox_thread', thread.id) }}"><small>Open thread</small></a>
						</div>
						<div class="col-sm-auto">
							<small class="text-secondary">
								{{ last_message.created|date('d.m.Y') }}
							</small>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}
